
.feedContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5rem 0;
      height: auto;
      flex-wrap: wrap;
      gap: 5rem;
      margin: 0 0 .5rem 0;

}

.imgCon {
      position: relative;
      width: 24rem;
      height: 16rem;

}

.imgCon img {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: .5rem;
}

.feeds {
      width: 22rem;
}

.feeds h2 {
      font-size: 2.4rem;
      margin-bottom: 1rem;
}

.feeds p {
      font-size: .8rem;
}

.home {
      color: green;
      border-bottom: .1px solid black;
}